<div class="cards-container">
    <div class="card-client">
        <div class="user-picture">
            <img src="../../../assets/usac-logo.png">
        </div>
        <p class="name-client"> Carlos Benjamin Pac Flores
            <span>Registro Academico: 201931012
            </span>
            <span>DPI: 2897732290901
            </span>
        </p>
    </div>
    
    <div class="card-client">
        <div class="user-picture">
            <img src="../../../assets/usac-logo.png">
        </div>
        <p class="name-client"> Luis Antonio Monterroso Guzman
            <span>Registro Academico: 202031794
            </span>
            <span>DPI: 3349991110901
            </span>
        </p>
    </div>
</div>

