<!--<div #contenedor class="display-false">-->
  <div #contenedor>
    <div class="container contenedor-editor">
      <div class="tag-editor">{{(isEditable?'Codigo:':'Resultado:')}} {{nombreArchivo}}</div>
      <div class="app-ace-editor" #editor style="width: 100%;height: 500px;"></div>
      <div class="contenedor-herramientas">
        <button *ngIf="isLoadFile" class="btn btn-upload" (click)="cargarCodigo()" style="margin-right: 4px;">Cargar Codigo</button>
        <button class="btn btn-descargar" (click)="descargarCodigoEditor()">{{nombreBoton}}</button>
        <div #ubicacion class="btn tab-ubicacion">
          {{ubicacionEditor}}
        </div>
      </div>
    </div>
  </div>
