<div class="row editors-container">
  <div class="col">
    <app-editor [nombreBoton]="'Descargar Codigo'" [isLoadFile]="true" [resultConsole]="resultConsole"></app-editor>
  </div>
  <div class="col">
    <app-editor #consoleResult [nombreBoton]="'Descargar Resultado'" [isEditable]="false"></app-editor>
  </div>
</div>

<div class="button-container">
  <button class="cssbuttons-io">
    <span>
      <img src="../../../assets/coding-sign.png" alt="">
      Analizar
    </span>
  </button>
</div>
